.individual-question-container {
    text-align: center;
    margin: 20px;
  }
  
  .question {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .answer {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .show-answer-button {
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  